* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #4f17eb;
}

header {
  display: flex;
  padding: 0 0.25em;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2px);
  background-color: #4f17eb;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2px);
  background-color: #5020e0;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2px);
  padding: 1em;
}

button {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: none;
  border-radius: 0.25em;
  background-color: #4f17eb;
  color: white;
  cursor: pointer;
}
